.appWrapper {
	background-color: var(--theme-dark);
}

.appContent {
	padding: 5rem 4rem;
	background-color: var(--theme-primary);
	height: 100%;

	max-width: 1280px;
	min-width: 320px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: var(--nav-height) auto 0 auto;
}

.charts {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

@media (max-width: 760px) {
	.appContent {
		padding: 3rem 0.5rem;
	}
}
