.appContent {
	margin-top: var(--nav-height);
	padding: 5rem 4rem;
	background-color: var(--theme-primary);
	height: 100%;
}

.charts {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

@media (max-width: 760px) {
	.appContent {
		padding: 3rem 0.5rem;
	}
}
